* {
  padding: 0;
  margin: 0;
  border: 0;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #e9eeed;
}

header, .content {
  position: absolute;
  right: 0; left: 0;
  width: 100%;
  -webkit-transform: translateZ(0);
}

header {
  top: 0;
  height: 44px;
  line-height: 44px;
  background: #f6f6f6;
  border-bottom: 1px solid #a7a7aa;
  font-weight: bold;
  text-align: center;
}

.content {
  top: 44px;
  bottom: 0;
}

.content li {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  list-style: none;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}